.photo-grid {
    margin: 0;
    padding: 92px 0 0;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, calc(25% - 12px));
    grid-template-rows: repeat(3, calc(33.3333% - 32px/3));
    max-width: 100%;

}

@media (max-width: 1279px) {
    .photo-grid {
        padding: 92px 48px 0;
        gap: 14px;
        grid-template-columns: repeat(3, calc(33.3333% - 28px/3));
        grid-template-rows: repeat(4, calc(25% - 42px/4));

    }
  }
  
  @media (max-width: 1023px) {
    .photo-grid {
        padding: 88px 24px 0;
        gap: 16px;
        grid-template-columns: repeat(2, calc(50% - 16px/2));
        grid-template-rows: repeat(6, calc(16.6666% - 80px/6));

    }
  }
  
  @media (max-width: 767px) {
    .photo-grid {
        padding: 64px 16px 0;
        gap: 12px;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(12, calc(8.3333% - 132px/12));

    }
  }