.places {
    margin: 0 auto;
    padding: 12px 100px 0;
    max-width: 1184px;
}

@media (max-width: 1279px) {
    .places {
        padding: 12px 48px 0;
        max-width: 928px;
    }
  }
  
  @media (max-width: 1023px) {
    .places {
        padding: 19px 24px 0;
        max-width: 720px;
    }
  }
  
  @media (max-width: 767px) {
    .places {
        padding: 14px 0 0;
        max-width: 320px;
    }
  }