.cover__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: calc(245%/7.4);
    left: calc(50% - 280px);
    min-width: 560px;
}

@media (max-width: 1279px) {
    .cover__text {
        min-width: 560px;
        top: calc(195%/6.4);
        left: calc(50% - 280px);
    }
  }
  
  @media (max-width: 1023px) {
    .cover__text {
        min-width: 560px;
        top: calc(115%/4.8);
        left: calc(50% - 280px);
    }
  }
  
  @media (max-width: 767px) {
    .cover__text {
        min-width: 288px;
        gap: 16px;
        top: calc(33%/2);
        left: calc(50% - 140px);
    }
  }