.cover {
    margin: 94px 0 0;
    padding: 0;
    max-width: 100%;
    min-height: 740px;
    background-image: url(../../images/__background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1279px) {
    .cover {
      margin: 94px 0 0;
        min-height: 640px;
    }
  }
  
  @media (max-width: 1023px) {
    .cover {
        margin: 88px 0 0;
        min-height: 480px;
    }
  }
  
  @media (max-width: 767px) {
    .cover {
        margin: 65px 0 0;
        min-height: 200px;
    }
  }