.cover__overlay {
    width: 100%;
    min-height: 740px;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    background-color: #2a2c2f00;
}

.cover:hover .cover__overlay {
    background-color: #2a2c2fcc;
}

@media (max-width: 1279px) {
    .cover__overlay {
        min-height: 640px;
    }
  }
  
  @media (max-width: 1023px) {
    .cover__overlay {
        min-height: 480px;
    }
  }
  
  @media (max-width: 767px) {
    .cover__overlay {
        gap: 16px;
        min-height: 200px;
    }
  }